/* Edmon Bosch Bosch
Fitxer css amb link des de friendship.html.
*/
@import url('https://rsms.me/inter/inter.css');

.archive {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, auto));
    grid-auto-columns: max-content;
    grid-gap: 32px;
    grid-auto-flow: dense;
    margin-left: 1em;
    margin-right: 2em;
}

/* Single column display for phones */
@media (max-width: 798px) {
    .archive {
        display: flex;
        flex-direction: column;
    }
}

main{
    text-align: center;
    font-size: 20px;
    color: black;
    margin: 0.2rem 0 3rem 0;
}

.buttons {
    padding: 10px 0 10px;
}
  
.button {
    transition: all .2s ease-in-out;
    -webkit-appearance: none;
    border-radius: 100px;
    font-family: inherit;
    appearance: none;
    background: #6996BF;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 20px;
    outline: none;
    opacity: 0.4;
    border: none;
    color: black;
    margin: 0.5rem;
}
  
.button:hover,
.button.active {
    opacity: 1;
    color: white;
}


.friend {
    text-align: left;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    width: 100%;
    background-color: #F9F4F4;
    border: solid 1px #E5E5E5;
    border-radius: 17px;
    padding: 0.5em;
    -webkit-box-shadow: 0 4px 10px -2px gray;
            box-shadow: 0 4px 10px -2px gray;
}

.options {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.info {
    margin-left: 1.5em;
}

.name {
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

.email {
    margin-top: 0.5em;
}

.avatar {
    width: 6em;
    height: auto;
    display: block;
}

.delIcon {
    margin-left: 0.5em;
}

.fship {
    background-color: #6996BF;
    border-radius: 10px;
    color: white;
    padding: 0.3em 1.3em;
    border: none;
    margin-right: 1.5em;
}

@media only screen and (max-width: 413px) {
    main {
        font-size: 1rem;
    }   
}
