/* Edmon Bosch Bosch
Fitxer css amb link des de profile.html.
*/

.pwd-plus-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.eye-icon {
    margin-left: 4em;
}

p {
    margin-left: 0.5em;
}

.data {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    padding-bottom: 1rem;
}

.avatar {
    width: 6em;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
}

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.edit-button {
    background-color: #92B5EA;
    color: black;
    border-radius: 10px;
    text-decoration: none;
    padding: 8px 25px 8px 25px;
    border: solid 2px #4d8be7;
    font-size: 1em;
    margin: 0.5em 0em 0.5em 0em;
}

.del-button {
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 10px;
    text-decoration: none;
    padding: 8px 25px 8px 25px;
    border: solid 2px #7AA7EC;
    font-size: 1em;
}

.flex-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-radius: 10px;
    border: solid 2px #4d8be7;
    padding: 1px 10px 1px 10px;
}

.input-search {
    color: rgb(116, 113, 113);
    border: 0;
}

.input-search:focus{
    outline: 0;
}

@media only screen and (min-width: 600px) {
    .desktop-screen-fix {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        margin-top: 4em;
        margin-bottom: 2em;
    }

    .data {
        width: 75%;
    }

    .flex-search {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }
}