/* Edmon Bosch Bosch
Fitxer css amb link des de timeline.html.
*/

*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box; 
}

.timeline-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 3em;
}

.timeline-table td, .timeline-table th {
    padding:12px 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
}

.timeline-table th {
    background-color: rgb(115, 115, 221);
    color: #ffffff;
}

.timeline-table tbody tr:nth-child(even){
    background-color:#f5f5f5;
}

@media (max-width: 600px){
    .timeline-table {
        margin-top:2em;
    }
    
    .timeline-table thead {
        display: none;
    }

    .timeline-table, .timeline-table tbody, .timeline-table tr, .timeline-table td {
        display:block;
        width: 100%;
    }

    .timeline-table tr {
        margin-bottom: 30px;
    }

    .timeline-table td {
        text-align:right;
        padding-left: 50%;
        position: relative;
    }

    .timeline-table td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width:50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align:left;
    }
}